/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.9);
        text-stroke: 1px rgba(255, 255, 255, 0.9);
        /* For modern browsers */
        color: transparent;
    }

    .text-shadow{
        text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
    }

    .clip-path {
        /* clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%); */
        clip-path: circle(78.5% at 50% 50%);
    }

    .box-shadow{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    
}


:root {
    --font-family: "Rubik", sans-serif;
    --font-weight: 500;
    --font-family-style : "Playwrite IT Moderna", cursive;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    color: rgba(255, 255, 255, 0.9);
    text-wrap: blance;
    font-feature-settings: 'pnum' on, 'lnum' on;

}

img {
    height: auto;
    max-width: 100%;
}


html {
    scroll-behavior: smooth;
}


body {
    --sb-track-color: #232E33;
    --sb-thumb-color: #b1b9b5;
    --sb-size: 7px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}